body {
    display: flex;
    justify-content: center;
}

.wrapBtn {
    display: flex;
    justify-content: space-between;
}

.labelError{
    color: red;
}

.btnList{
    padding: 10px;
    background-color: #60E06D;
    border-radius: 20px;
}

.btn{
    padding: 10px;
    background-color: #4A5BEF;
    border-radius: 20px;
}
